*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: mediumslateblue;
    color: white;
    height: 5rem;
    line-height: 5rem;
}

.choice{
 height: 150px;
 width: 150px;
 border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
}

img{
    height: 135px;
    width: 135px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 3rem;
}

.choice:hover{
    cursor: pointer;
    background-color: mediumslateblue;
    opacity: 80%;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score,#computer-score{
    font-size: 3.5rem;
}

.msg-container{
    margin: 4rem;
}

#msg{
    background-color: black;
    color: white;
    font-size: 1.75rem;
    display: inline;
    padding: 0.85rem;
    border-radius: 1rem;
}